* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  width: 25rem;
  height: 30rem;
  background-color: cornflowerblue;
  margin: 10rem auto;
  padding: 1rem;
}

.screen {
  width: 100%;
  height: 100%;
  padding: 1rem;
  background-color: gray;
}

.info {
  background-color: white;
  height: 14rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: bold;
  font-size: 1.1rem;
}

.input {
  width: 18rem;
  background-color: black;
  height: 4rem;
  margin: auto;
  overflow-x: scroll;
  color: white;
}
.input::-webkit-scrollbar {
  display: none;
}



.options {
  background-color: rgb(40, 56, 56);
  height: 12rem;
}

.options {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.button {
  background-color: gray;
  height: 3rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: white;
  cursor: pointer;
}
